version: '3.9'

services:
  web:
    image: myresume:0.1
    container_name: myresume
    tty: true
#    build:
#      context: .
    ports:
      - "8000:8000"
#    volumes:
#      - .:/myapp
  nginx:
    image: nginx:latest
    ports:
      - "8001:80"
    depends_on:
      - web
    links:
      - web
    restart: on-failure