<div class="col-lg-6 col-md-6 col-12">
    <div class="form-floating">
        <input type="text" name="your_name" id="your_name" class="form-control" placeholder="Name"
               required="">
        <label for="floatingInput">Name</label>
    </div>
</div>
<div class="col-lg-6 col-md-6 col-12">
    <div class="form-floating">
        <input type="email" name="your_email" id="your_email" pattern="[^ @]*@[^ @]*"
               class="form-control" placeholder="Email address" required="">
        <label for="floatingInput">Email address</label>
    </div>
</div>
<div class="col-lg-12 col-12">
    <div class="form-floating">
        <textarea class="form-control" id="email_description" name="email_description"
                  placeholder="Tell me about the project"></textarea>
        <label for="floatingTextarea">Tell me about the project</label>
    </div>
</div>